.stats-container{
    width: 90%;
    height: auto;
    margin: 75px auto;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats-container .stats{
    margin: 0 6%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.stats-container .stats .stats-number{
    display: block;
    font: 100px/120px D-DIN-Light,Arial,Verdana,sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
}

.stats-container .stats .stats-title{
    display: block;
    font: 20px/32px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    color: rgb(195, 193, 193);
}